src/ai-nspect_20250702071341/Microsoft.Flow/flows/8cf8e62e-bad6-421d-969a-ea848b5383de/definition.json
{"name":"d102580b-8038-4e6a-80be-0f1ae9c2d6fb","id":"/providers/Microsoft.Flow/flows/d102580b-8038-4e6a-80be-0f1ae9c2d6fb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"UploadInspectionWithMedia","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"43b76bad-50b0-43e2-9dec-fe4f639bf486","type":"User","tenantId":"52251bad-a823-403e-aaa4-6c40a9fd624b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-30T16:10:15.1499568Z","connectionKeySavedTimeKey":"2025-06-30T16:10:15.1499568Z","creationSource":"PowerappsPpux","modifiedSources":"PowerappsPpux;Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e35d2379-7d7a-4f74-a302-b75b0db9f2fc"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"InspectionRecord","type":"string","x-ms-dynamically-added":true,"description":"Json string \"data: {}\"","x-ms-content-hint":"TEXT"},"text_1":{"title":"MediaRecords","type":"string","x-ms-dynamically-added":true,"description":"Json string \"data: [{}]\"","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"Parse_JSON_InspectionRecord":{"runAfter":{"Initialize_UploadedMediaCount":["Succeeded"]},"metadata":{"operationMetadataId":"b01cc744-3f21-4c5b-be1c-45bbf8b34566"},"type":"ParseJson","inputs":{"content":"@triggerBody()['text']","schema":{"type":"object","properties":{"AbsenceReason":{"type":"string"},"AdditionalNotes":{"type":"string"},"AssetId":{"type":"string"},"RefAssetItemId":{"type":"integer"},"ConditionDescription":{"type":"string"},"ConditionRating":{},"AssetColor":{"type":"string"},"ConflictDetected":{"type":"boolean"},"ConflictNotes":{"type":"string"},"DeactivationReason":{"type":"string"},"GeoLocation":{"type":"string"},"Id":{"type":"string"},"Inspected":{"type":"string"},"InspectedSite":{"type":"string"},"InspectionDate":{"type":"string"},"InspectionId":{"type":"string"},"InspectionMethod":{"type":"string"},"InspectionType":{"type":"string"},"Inspector":{"type":"string"},"IsPresent":{"type":"boolean"},"LastModified":{"type":"string"},"LastSynced":{"type":"string"},"LocationOfInspection":{"type":"string"},"OperationalFeedback":{"type":"string"},"Recorded":{"type":"string"},"RecordedBy":{"type":"string"},"SyncErrorMessage":{"type":"string"},"SyncRetryCount":{"type":"integer"},"SyncStatus":{"type":"string"},"TechnicalCondition":{},"Technician":{"type":"string"},"UsageStatus":{}}}}},"Parse_JSON_MediaRecords":{"runAfter":{"Parse_JSON_InspectionRecord":["Succeeded"]},"metadata":{"operationMetadataId":"e52562d2-5cba-4596-bc39-764dead58d31"},"type":"ParseJson","inputs":{"content":"@triggerBody()['text_1']","schema":{"type":"array","items":{"type":"object","properties":{"AssetId":{"type":"string"},"Captured":{"type":"string"},"CapturedBy":{"type":"string"},"FileRef":{"type":"string"},"FileName":{"type":"string"},"Id":{"type":"string"},"InspectionId":{"type":"string"},"IsSavedLocally":{"type":"boolean"},"LastSynced":{},"SyncErrorMessage":{"type":"string"},"SyncRetryCount":{"type":"integer"},"SyncStatus":{"type":"string"},"Type":{"type":"string"}},"required":["AssetId","Captured","CapturedBy","FileRef","FileName","Id","InspectionId","IsSavedLocally","LastSynced","SyncErrorMessage","SyncRetryCount","SyncStatus","Type"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON_MediaRecords')","actions":{"Add_attachment":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@items('Apply_to_each')['FileName']","body":"@base64ToBinary(last(split(items('Apply_to_each')['FileRef'], 'base64,')))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"authentication":"@parameters('$authentication')"}},"Increment_variable":{"runAfter":{"Add_attachment":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"UploadedMediaCount","value":1}}},"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"a994cbc1-a224-4dbb-9bb8-4eaf03d760d1"},"type":"Foreach"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"statuscode":{"title":"StatusCode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"createditemid":{"title":"CreatedItemId","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"message":{"title":"Message","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"uploadedmediacount":{"title":"UploadedMediaCount","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"inspectionid":{"title":"InspectionId","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"refassetitemid":{"title":"RefAssetItemId","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"timestamp":{"title":"Timestamp","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"statuscode":"201","createditemid":"@{outputs('Create_item')?['body/ID']}","message":"Upload succeeded","uploadedmediacount":"@{variables('UploadedMediaCount')}","inspectionid":"@{body('Parse_JSON_InspectionRecord')?['InspectionId']}","refassetitemid":"@{outputs('Create_item')?['body/AssetId/Id']}","timestamp":"@{formatDateTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time'), 'yyyy-MM-dd HH:mm:ss')\n}"}}},"Initialize_UploadedMediaCount":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"UploadedMediaCount","type":"integer"}]}},"Create_item":{"runAfter":{"Parse_JSON_MediaRecords":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","item/InspectionId":"@body('Parse_JSON_InspectionRecord')?['InspectionId']","item/field_19":"@body('Parse_JSON_InspectionRecord')?['InspectionDate']","item/InspectedSite":"@body('Parse_JSON_InspectionRecord')?['InspectedSite']","item/LocationOfInspection":"@body('Parse_JSON_InspectionRecord')?['LocationOfInspection']","item/Inspector":"@body('Parse_JSON_InspectionRecord')?['Inspector']","item/Technician":"@body('Parse_JSON_InspectionRecord')?['Technician']","item/AssetId/Id":"@body('Parse_JSON_InspectionRecord')?['RefAssetItemId']","item/field_5/Value":"@body('Parse_JSON_InspectionRecord')?['IsPresent']","item/field_6":"@body('Parse_JSON_InspectionRecord')?['AbsenceReason']","item/field_7/Value":"@body('Parse_JSON_InspectionRecord')?['UsageStatus']","item/field_8":"@body('Parse_JSON_InspectionRecord')?['DeactivationReason']","item/AssetColor":"@body('Parse_JSON_InspectionRecord')?['AssetColor']","item/field_9/Value":"@body('Parse_JSON_InspectionRecord')?['ConditionRating']","item/field_10":"@body('Parse_JSON_InspectionRecord')?['ConditionDescription']","item/field_13/Value":"@body('Parse_JSON_InspectionRecord')?['TechnicalCondition']","item/field_11":"@body('Parse_JSON_InspectionRecord')?['OperationalFeedback']","item/field_12":"@body('Parse_JSON_InspectionRecord')?['AdditionalNotes']","item/field_20":"@body('Parse_JSON_InspectionRecord')?['GeoLocation']","item/field_14":"@body('Parse_JSON_InspectionRecord')?['InspectionType']","item/field_15":"@body('Parse_JSON_InspectionRecord')?['InspectionMethod']","item/field_18/Value":"Submitted","item/Inspected":"@body('Parse_JSON_InspectionRecord')?['Inspected']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-8ad3beae-286c-4e2f-ae45-1743817b8875","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}