src/ai-nspect_20250702071341/Microsoft.Flow/flows/48f1a953-61da-4953-8b07-d89c3e539d2a/definition.json
{"name":"b0e413ad-3c4e-40e3-b4fd-9aba2f7d5d91","id":"/providers/Microsoft.Flow/flows/b0e413ad-3c4e-40e3-b4fd-9aba2f7d5d91","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"UploadMultipleInspectionsWithMedia","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"43b76bad-50b0-43e2-9dec-fe4f639bf486","type":"User","tenantId":"52251bad-a823-403e-aaa4-6c40a9fd624b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-29T08:51:41.5785817Z","connectionKeySavedTimeKey":"2025-06-29T08:51:41.5785817Z","creationSource":"PowerappsPpux","modifiedSources":"PowerappsPpux;Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1a58776c-711a-49fc-b293-e2592f4a0e4c"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"InspectionRecords","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"MediaRecords","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"Initialize_UploadedMediaCount":{"runAfter":{"Initialize_UploadedMedia":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UploadedMediaCount","type":"integer"}]}},"Initialize_UploadedInspectionsCount":{"runAfter":{"Initialize_UploadedMediaCount":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UploadedInspectionsCount","type":"integer"}]}},"Parse_JSON_InspectionRecords":{"runAfter":{"Initialize_UploadedInspectionsCount":["Succeeded"]},"metadata":{"operationMetadataId":"b01cc744-3f21-4c5b-be1c-45bbf8b34566"},"type":"ParseJson","inputs":{"content":"@triggerBody()['text']","schema":{"type":"array","items":{"type":"object","properties":{"AbsenceReason":{"type":"string"},"AdditionalNotes":{"type":"string"},"AssetId":{"type":"object","properties":{"Id":{"type":"integer"},"Value":{"type":"string"}}},"ConditionDescription":{"type":"string"},"ConditionRating":{},"ConflictDetected":{"type":"boolean"},"ConflictNotes":{"type":"string"},"DeactivationReason":{"type":"string"},"GeoLocation":{"type":"string"},"Id":{"type":"string"},"Inspected":{"type":"string"},"InspectedSite":{"type":"string"},"InspectionDate":{"type":"string"},"InspectionId":{"type":"string"},"InspectionMethod":{"type":"string"},"InspectionType":{"type":"string"},"Inspector":{"type":"string"},"IsPresent":{"type":"boolean"},"LastModified":{"type":"string"},"LastSynced":{"type":"string"},"LocationOfInspection":{"type":"string"},"OperationalFeedback":{"type":"string"},"Recorded":{"type":"string"},"RecordedBy":{"type":"string"},"SyncErrorMessage":{"type":"string"},"SyncRetryCount":{"type":"integer"},"SyncStatus":{"type":"string"},"TechnicalCondition":{"type":"string"},"Technician":{"type":"string"},"UsageStatus":{}}}}}},"Parse_JSON_MediaRecords":{"runAfter":{"Parse_JSON_InspectionRecords":["Succeeded"]},"metadata":{"operationMetadataId":"e52562d2-5cba-4596-bc39-764dead58d31"},"type":"ParseJson","inputs":{"content":"@triggerBody()['text_1']","schema":{"type":"array","items":{"type":"object","properties":{"AssetId":{"type":"string"},"Captured":{"type":"string"},"CapturedBy":{"type":"string"},"FileRef":{"type":"string"},"FileName":{"type":"string"},"Id":{"type":"string"},"InspectionId":{"type":"string"},"IsSavedLocally":{"type":"boolean"},"LastSynced":{},"SyncErrorMessage":{"type":"string"},"SyncRetryCount":{"type":"integer"},"SyncStatus":{"type":"string"},"Type":{"type":"string"}},"required":["AssetId","Captured","CapturedBy","FileRef","FileName","Id","InspectionId","IsSavedLocally","LastSynced","SyncErrorMessage","SyncRetryCount","SyncStatus","Type"]}}}},"For_each_inspection_record":{"foreach":"@body('Parse_JSON_InspectionRecords')","actions":{"Create_item":{"metadata":{"operationMetadataId":"98952a21-7ed1-46d9-8d78-b07eb89394da"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","item/InspectionId":"@item()['InspectionId']","item/field_19":"@item()?['InspectionDate']","item/InspectedUnit":"@item()?['InspectedSite']","item/LocationOfInspection":"@item()?['LocationOfInspection']","item/Inspector":"@item()?['Inspector']","item/Technician":"@item()?['Technician']","item/AssetId/Id":"@item()?['AssetId']?['Id']","item/field_5/Value":"@item()?['IsPresent']","item/field_6":"@item()?['AbsenceReason']","item/field_8":"@item()?['DeactivationReason']","item/field_7/Value":"@item()?['UsageStatus']","item/field_9/Value":"@item()?['ConditionRating']","item/field_10":"@item()?['ConditionDescription']","item/field_13":"@item()?['TechnicalCondition']","item/field_11":"@item()?['OperationalFeedback']","item/field_12":"@item()?['AdditionalNotes']","item/field_20":"@item()?['GeoLocation']","item/field_14":"@item()?['InspectionType']","item/field_15":"@item()?['InspectionMethod']","item/field_18/Value":"Submitted","item/Inspected":"@item()?['Inspected']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Increment_variable_InspectionsCount":{"runAfter":{"Append_to_UploadedInspections":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"UploadedInspectionsCount","value":1}},"For_each_associated_media":{"foreach":"@outputs('Parse_JSON_MediaRecords')['body']","actions":{"Add_attachment":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@items('For_each_associated_media')?['FileName']","body":"@base64ToBinary(last(split(items('For_each_associated_media')['FileRef'], 'base64,')))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"authentication":"@parameters('$authentication')"}},"Increment_variable_MediaCount":{"runAfter":{"Append_to_UploadedMedia":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"UploadedMediaCount","value":1}},"Append_to_UploadedMedia":{"runAfter":{"Add_attachment":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"UploadedMedia","value":{"InspectionItemId":"@{outputs('Create_item')?['body/ID']}","CreatedItemId":"@{outputs('Add_attachment')?['body/Id']}","ErrorMessage":"","StatusCode":"201"}}}},"runAfter":{"Increment_variable_InspectionsCount":["Succeeded"]},"type":"Foreach"},"Append_to_UploadedInspections":{"runAfter":{"Create_item":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"UploadedInspections","value":{"InspectionId":"@{outputs('Create_item')?['body/InspectionId']}","CreatedItemId":"@{outputs('Create_item')?['body/ID']}","ErrorMessage":"","StatusCode":"201"}}}},"runAfter":{"Parse_JSON_MediaRecords":["Succeeded"]},"type":"Foreach"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"For_each_inspection_record":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"statuscode":{"title":"StatusCode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"message":{"title":"Message","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"uploadedinspectionscount":{"title":"UploadedInspectionsCount","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true},"uploadedmediacount":{"title":"UploadedMediaCount","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true},"errormessage":{"title":"ErrorMessage","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"uploadedinspections":{"title":"UploadedInspections","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"uploadedmedia":{"title":"UploadedMedia","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"statuscode":"200","message":"Upload multiple items succeeded","uploadedinspectionscount":"@variables('UploadedInspectionsCount')","uploadedmediacount":"@variables('UploadedMediaCount')","errormessage":"\"\"","uploadedinspections":"@{string(variables('UploadedInspections'))}","uploadedmedia":"@{string(variables('UploadedMedia'))}"}}},"Initialize_UploadedInspections":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"UploadedInspections","type":"array"}]}},"Initialize_UploadedMedia":{"runAfter":{"Initialize_UploadedInspections":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UploadedMedia","type":"array"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-8ad3beae-286c-4e2f-ae45-1743817b8875","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}