src/ai-nspect_20250702071341/Microsoft.Flow/flows/20c8b575-1ed4-457d-ae35-ec152ec5fd5e/definition.json
{"name":"84b8c7a8-32b5-40ce-b9a9-fc03c469b064","id":"/providers/Microsoft.Flow/flows/84b8c7a8-32b5-40ce-b9a9-fc03c469b064","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"DownloadInspectionMedia","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"43b76bad-50b0-43e2-9dec-fe4f639bf486","type":"User","tenantId":"52251bad-a823-403e-aaa4-6c40a9fd624b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-28T22:00:01.2028228Z","connectionKeySavedTimeKey":"2025-06-28T22:00:01.2028228Z","creationSource":"PowerappsPpux","modifiedSources":"PowerappsPpux;Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"01d33f01-f041-4165-b58f-4ffa00fb317a"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"InspectionId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"6319f0ae-f8a5-4b53-832a-f0cd411479b7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","$filter":"InspectionId eq '@{triggerBody()['text']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"57bb6658-a3ae-46ae-bbe7-f7761def6256"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Attachments","type":"array"}]}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"For_each":["Succeeded"]},"metadata":{"operationMetadataId":"b4b21487-ea68-42f2-83ab-170acc0aa034"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"data":{"title":"Data","x-ms-dynamically-added":true,"type":"string"},"statuscode":{"title":"StatusCode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"data":"@{string(variables('Attachments'))}","statuscode":"200"}}},"Get_attachments":{"runAfter":{"Compose_InspectionItemId":["Succeeded"]},"metadata":{"operationMetadataId":"f6f2b77c-3fb3-4012-863a-1370cf4efc2f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","itemId":"@outputs('Compose_InspectionItemId')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"For_each":{"foreach":"@outputs('Get_attachments')?['body']","actions":{"Get_attachment_content":{"metadata":{"operationMetadataId":"96235309-f799-45a9-a16d-66fabe2a8254"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gmdcorp.sharepoint.com/sites/gmd.dx","table":"1cfb606d-b239-4e03-b20f-8e65ec5e1b22","itemId":"@outputs('Compose_InspectionItemId')","attachmentId":"@item()?['Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Append_to_array_variable":{"runAfter":{"Get_attachment_content":["Succeeded"]},"metadata":{"operationMetadataId":"8f919ff8-2b55-4b7f-9363-60bf584ac780"},"type":"AppendToArrayVariable","inputs":{"name":"Attachments","value":{"FileName":"@item()?['DisplayName']","FileContent":"@{body('Get_attachment_content')?['$content']}","FileType":"@body('Get_attachment_content')?['$content-type']","InspectionId":"@triggerBody()['text']"}}}},"runAfter":{"Get_attachments":["Succeeded"]},"type":"Foreach"},"Compose_InspectionItemId":{"runAfter":{"Get_items":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('Get_items')?['body/value'])?['ID']"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-8ad3beae-286c-4e2f-ae45-1743817b8875","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}